<a href="https://colab.research.google.com/github/manishbhima/Data690_DVS/blob/main/assignment_03/assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

a. Printing a 10 by 10 matrix

In [12]:
import random
for i in range(10):
  for j in range(10):
    x=random.randint(0,9)
    print(x,end=" ")

  print("")

9 3 3 5 3 3 0 3 1 3
7 4 6 2 9 7 0 8 9 1
1 7 2 9 7 1 7 0 1 5
8 6 8 2 2 5 2 5 7 0
8 5 4 7 9 6 4 9 8 5
3 5 2 8 6 3 1 3 8 2
6 1 5 7 7 9 9 9 4 2
8 9 8 7 6 6 0 7 1 8
9 3 6 5 6 3 9 9 8 4
2 6 1 5 6 1 4 4 0 5

b. Printing "@" in place of odd numbers

In [15]:
for i in range(10):

  for j in range(10):
    
    x=random.randint(0,9)
    if x%2 == 1:
      print("@", end=" ")
    else:
      print (x,end=" ")

  print("")

0 @ 8 @ @ @ @ @ @ @
8 @ @ 6 @ @ 2 2 4 @
8 @ 6 @ 2 2 @ 0 0 2
8 @ 0 @ 2 2 @ 0 @ 8
6 0 8 @ @ @ @ 0 @ 2
2 @ @ 8 2 @ @ 2 2 6
@ @ @ 8 @ 2 @ @ @ 6
4 2 @ @ @ @ 2 @ 2 @
@ 4 @ 2 8 @ @ 4 @ 0
@ @ 8 0 @ @ @ @ 6 @

c. row sum

In [9]:
for i in range(10):
  sum=0
  for j in range(10):
    j=random.randint(0,9)
    
    print(j,end=" ")
    sum=sum+j

  print("*",sum)

9 4 1 2 9 2 3 2 1 2 * 35
1 8 4 7 7 7 6 1 5 3 * 49
8 0 1 0 5 1 2 8 8 1 * 34
6 4 0 1 0 0 4 4 8 1 * 28
9 9 3 5 5 7 7 4 0 8 * 57
3 5 5 0 8 2 7 0 5 7 * 42
6 9 5 3 0 4 0 4 0 6 * 37
3 6 2 6 1 9 5 3 3 5 * 43
6 2 5 8 2 0 4 5 2 8 * 42
8 0 4 8 2 2 2 3 9 0 * 38

d. surround the matrix with Asterisks(*)

In [8]:
import random
print("***********************",end=" ")
print()
for i in range(10):
  print("*",end=" ")
  for j in range(10):
    print(random.randint(0,9),end=" ")
  print('*',end=" ")
  print()
print("***********************",end=" ")

***********************
* 5 3 5 6 8 5 1 6 5 4 *
* 9 2 3 0 5 4 9 4 0 8 *
* 6 9 8 1 7 9 0 2 9 3 *
* 2 2 9 9 2 4 4 7 4 4 *
* 3 2 9 3 7 5 1 1 3 4 *
* 1 3 4 5 7 1 1 5 4 3 *
* 8 5 4 8 3 7 1 9 4 0 *
* 7 2 9 4 8 9 7 7 7 2 *
* 6 4 5 5 6 8 0 7 1 7 *
* 8 2 2 5 0 6 0 1 4 9 *
***********************

5. Row sum and Column sum

In [12]:
lst=[]                     
for i in range(10):
  a=[]                         
  for j in range(10):
    j=random.randint(0,9)
    a.append(j)
  lst.append(a)

 
sum_row=0                     
sum_col=0                     
r=[]                        
c=[]                          
for i in range(10):
  for j in range(10):
    sum_row= sum_row+lst[i][j]  
    sum_col= sum_col+lst[j][i]
  r.append(sum_row)
  c.append(sum_col)
  sum_row=0     
  sum_col=0

# print the sum of rows and columns

for i in range(10):
  for j in range(10):
    print(lst[i][j],end="  ")
  print("*",r[i])
  print()

print("*  " * 10,end="     ")
print()

for i in range(10):
    print(c[i],end=" ")

7  5  5  5  4  6  6  3  2  4  * 47

6  5  4  7  8  6  2  2  1  9  * 50

5  6  8  1  0  3  7  7  6  8  * 51

8  9  5  6  1  4  5  4  5  2  * 49

5  9  8  4  0  9  0  3  4  6  * 48

0  8  3  9  5  3  1  6  7  4  * 46

7  9  9  1  7  7  0  3  3  2  * 48

1  8  3  4  9  8  8  3  0  0  * 44

9  8  7  2  2  3  2  1  2  4  * 40

8  5  3  3  7  6  7  9  0  1  * 49

*  *  *  *  *  *  *  *  *  *
56 72 55 42 43 55 38 41 30 40