<a href="https://colab.research.google.com/github/manishbhima/Data690_DVS/blob/main/world_development_explorer/Individual__project_part_B_draft.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NAME- MANISH BHIMA

# Factors that influence the economy and growth of a country

## INDICATORS:
- Exports of goods and services (% of GDP)

- Trade (% of GDP)

- Industry (including construction), value added (% of GDP)

- GDP per capita, PPP (current international $)

## Countries compared:
- India

- United states

- Italy 

- China
## Introduction:
- Economic growth is defined as a rise or improvement in the market value of an economy's commodities and services through time. This expansion is likewise proportional to the percent rate of rise in real Gross Domestic Product (GDP).

In [1]:
import pandas as pd
import plotly.express as px

In [2]:
import plotly

print(plotly.__version__)

5.11.0

In [3]:
!pip install plotly  --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.5.0)
Collecting plotly
  Downloading plotly-5.11.0-py2.py3-none-any.whl (15.3 MB)
     |████████████████████████████████| 15.3 MB 8.3 MB/s
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.1.0)
Installing collected packages: plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 5.5.0
    Uninstalling plotly-5.5.0:
      Successfully uninstalled plotly-5.5.0
Successfully installed plotly-5.11.0

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/manishbhima/Data690_DVS/main/world_development_explorer/wdx_long%20(1).csv")
df

,Unnamed: 0,Year,value,indicator,Country Code,Country Name,Region,Income Group,Lending Type
0,0,2016,19.584380,NE.EXP.GNFS.ZS,CHN,China,East Asia & Pacific,Upper middle income,IBRD
1,1,2017,19.692277,NE.EXP.GNFS.ZS,CHN,China,East Asia & Pacific,Upper middle income,IBRD
2,2,2018,19.112104,NE.EXP.GNFS.ZS,CHN,China,East Asia & Pacific,Upper middle income,IBRD
3,3,2019,18.409992,NE.EXP.GNFS.ZS,CHN,China,East Asia & Pacific,Upper middle income,IBRD
4,4,2020,18.541060,NE.EXP.GNFS.ZS,CHN,China,East Asia & Pacific,Upper middle income,IBRD
...,...,...,...,...,...,...,...,...,...
88,88,2017,59914.777797,NY.GDP.PCAP.PP.CD,USA,United States,North America,High income,Not classified
89,89,2018,62805.253758,NY.GDP.PCAP.PP.CD,USA,United States,North America,High income,Not classified
90,90,2019,65094.799429,NY.GDP.PCAP.PP.CD,USA,United States,North America,High income,Not classified
91,91,2020,63027.679527,NY.GDP.PCAP.PP.CD,USA,United States,North America,High income,Not classified
92,92,2021,69287.536588,NY.GDP.PCAP.PP.CD,USA,United States,North America,High income,Not classified

In [5]:
df.drop(columns=["Unnamed: 0"],inplace=True)
df

,Year,value,indicator,Country Code,Country Name,Region,Income Group,Lending Type
0,2016,19.584380,NE.EXP.GNFS.ZS,CHN,China,East Asia & Pacific,Upper middle income,IBRD
1,2017,19.692277,NE.EXP.GNFS.ZS,CHN,China,East Asia & Pacific,Upper middle income,IBRD
2,2018,19.112104,NE.EXP.GNFS.ZS,CHN,China,East Asia & Pacific,Upper middle income,IBRD
3,2019,18.409992,NE.EXP.GNFS.ZS,CHN,China,East Asia & Pacific,Upper middle income,IBRD
4,2020,18.541060,NE.EXP.GNFS.ZS,CHN,China,East Asia & Pacific,Upper middle income,IBRD
...,...,...,...,...,...,...,...,...
88,2017,59914.777797,NY.GDP.PCAP.PP.CD,USA,United States,North America,High income,Not classified
89,2018,62805.253758,NY.GDP.PCAP.PP.CD,USA,United States,North America,High income,Not classified
90,2019,65094.799429,NY.GDP.PCAP.PP.CD,USA,United States,North America,High income,Not classified
91,2020,63027.679527,NY.GDP.PCAP.PP.CD,USA,United States,North America,High income,Not classified
92,2021,69287.536588,NY.GDP.PCAP.PP.CD,USA,United States,North America,High income,Not classified

In [11]:
df_2016 = df.query("Year == 2016")
df_2016.sample(10)

,Year,value,indicator,Country Code,Country Name,Region,Income Group,Lending Type
41,2016,18.042221,NV.IND.TOTL.ZS,USA,United States,North America,High income,Not classified
52,2016,40.082486,NE.TRD.GNFS.ZS,IND,India,South Asia,Lower middle income,IBRD
18,2016,11.939539,NE.EXP.GNFS.ZS,USA,United States,North America,High income,Not classified
12,2016,29.327891,NE.EXP.GNFS.ZS,ITA,Italy,Europe & Central Asia,High income,Not classified
58,2016,55.367603,NE.TRD.GNFS.ZS,ITA,Italy,Europe & Central Asia,High income,Not classified
81,2016,39926.954663,NY.GDP.PCAP.PP.CD,ITA,Italy,Europe & Central Asia,High income,Not classified
69,2016,13483.377267,NY.GDP.PCAP.PP.CD,CHN,China,East Asia & Pacific,Upper middle income,IBRD
6,2016,19.158235,NE.EXP.GNFS.ZS,IND,India,South Asia,Lower middle income,IBRD
46,2016,36.894415,NE.TRD.GNFS.ZS,CHN,China,East Asia & Pacific,Upper middle income,IBRD
0,2016,19.584380,NE.EXP.GNFS.ZS,CHN,China,East Asia & Pacific,Upper middle income,IBRD

In [12]:
df_2016 = df_2016.query("indicator in['NE.EXP.GNFS.ZS','NE.TRD.GNFS.ZS','NV.IND.TOTL.ZS','NY.GDP.PCAP.PP.CD']")
df_2016.head()

,Year,value,indicator,Country Code,Country Name,Region,Income Group,Lending Type
0,2016,19.584380,NE.EXP.GNFS.ZS,CHN,China,East Asia & Pacific,Upper middle income,IBRD
6,2016,19.158235,NE.EXP.GNFS.ZS,IND,India,South Asia,Lower middle income,IBRD
12,2016,29.327891,NE.EXP.GNFS.ZS,ITA,Italy,Europe & Central Asia,High income,Not classified
18,2016,11.939539,NE.EXP.GNFS.ZS,USA,United States,North America,High income,Not classified
23,2016,39.580622,NV.IND.TOTL.ZS,CHN,China,East Asia & Pacific,Upper middle income,IBRD

In [13]:
df_pivot = df_2016.pivot(index =['Country Code','Country Name','Region','Income Group','Lending Type'], columns='indicator', values='value').reset_index()
df_pivot.head()

indicator,Country Code,Country Name,Region,Income Group,Lending Type,NE.EXP.GNFS.ZS,NE.TRD.GNFS.ZS,NV.IND.TOTL.ZS,NY.GDP.PCAP.PP.CD
0,CHN,China,East Asia & Pacific,Upper middle income,IBRD,19.584380,36.894415,39.580622,13483.377267
1,IND,India,South Asia,Lower middle income,IBRD,19.158235,40.082486,26.619000,5839.864817
2,ITA,Italy,Europe & Central Asia,High income,Not classified,29.327891,55.367603,21.217944,39926.954663
3,USA,United States,North America,High income,Not classified,11.939539,26.586999,18.042221,57866.744934

In [14]:
df_pivot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country Code       4 non-null      object
 1   Country Name       4 non-null      object
 2   Region             4 non-null      object
 3   Income Group       4 non-null      object
 4   Lending Type       4 non-null      object
 5   NE.EXP.GNFS.ZS     4 non-null      float64
 6   NE.TRD.GNFS.ZS     4 non-null      float64
 7   NV.IND.TOTL.ZS     4 non-null      float64
 8   NY.GDP.PCAP.PP.CD  4 non-null      float64
dtypes: float64(4), object(5)
memory usage: 416.0+ bytes

In [10]:
fig = px.bar(
    df_pivot,
    x="Country Name",
    y="NE.EXP.GNFS.ZS",
    title="TOP 5 Countries by 2016 Exports of goods and services (% of GDP)",
    color='Country Name',
    labels={"NE.EXP.GNFS.ZS":"2016 Exports of goods and services (% of GDP)"}
).update_xaxes(categoryorder="total descending")
fig.show()

#  Economic growth due to Indsutries:
-  Export sales growth generates revenue and earnings for firms, allowing them to boost capital expenditure. Higher investment boosts a country's production capacity, which in turn boosts its export potential.
- In the year 2016, the percentage of exports of goods and services contributing to GDP by various countries is depicted in the bar graph above.
- The Italy exports of goods and services contribute 36.7 percent to its GDP, making it the country with the highest proportion of GDP contributed by exports.
- China with 24.5 of the market, followed by India with 23.9 % and United States with 14.9%..

In [17]:
df2 = df.query("indicator in['NE.EXP.GNFS.ZS','NE.TRD.GNFS.ZS','NV.IND.TOTL.ZS','NY.GDP.PCAP.PP.CD']")
df2.sample(10)

,Year,value,indicator,Country Code,Country Name,Region,Income Group,Lending Type
4,2020,18.541060,NE.EXP.GNFS.ZS,CHN,China,East Asia & Pacific,Upper middle income,IBRD
47,2017,37.632413,NE.TRD.GNFS.ZS,CHN,China,East Asia & Pacific,Upper middle income,IBRD
35,2016,21.217944,NV.IND.TOTL.ZS,ITA,Italy,Europe & Central Asia,High income,Not classified
5,2021,20.009814,NE.EXP.GNFS.ZS,CHN,China,East Asia & Pacific,Upper middle income,IBRD
7,2017,18.791765,NE.EXP.GNFS.ZS,IND,India,South Asia,Lower middle income,IBRD
20,2018,12.342241,NE.EXP.GNFS.ZS,USA,United States,North America,High income,Not classified
29,2016,26.619000,NV.IND.TOTL.ZS,IND,India,South Asia,Lower middle income,IBRD
68,2020,23.442457,NE.TRD.GNFS.ZS,USA,United States,North America,High income,Not classified
23,2016,39.580622,NV.IND.TOTL.ZS,CHN,China,East Asia & Pacific,Upper middle income,IBRD
36,2017,21.300405,NV.IND.TOTL.ZS,ITA,Italy,Europe & Central Asia,High income,Not classified

In [16]:
df_pivot2 = df2.pivot(index =['Year','Country Code','Country Name','Region','Income Group','Lending Type'], columns='indicator', values='value').reset_index()
df_pivot2.head()


year_2016=df_pivot2[df_pivot2["Year"]==2016]

indicator,Year,Country Code,Country Name,Region,Income Group,Lending Type,NE.EXP.GNFS.ZS,NE.TRD.GNFS.ZS,NV.IND.TOTL.ZS,NY.GDP.PCAP.PP.CD
0,2016,CHN,China,East Asia & Pacific,Upper middle income,IBRD,19.584380,36.894415,39.580622,13483.377267
1,2016,IND,India,South Asia,Lower middle income,IBRD,19.158235,40.082486,26.619000,5839.864817
2,2016,ITA,Italy,Europe & Central Asia,High income,Not classified,29.327891,55.367603,21.217944,39926.954663
3,2016,USA,United States,North America,High income,Not classified,11.939539,26.586999,18.042221,57866.744934
4,2017,CHN,China,East Asia & Pacific,Upper middle income,IBRD,19.692277,37.632413,39.851698,14243.532611

In [21]:
year_2016=df_pivot2[df_pivot2["Year"]==2016]

In [25]:
year_2016

indicator,Year,Country Code,Country Name,Region,Income Group,Lending Type,NE.EXP.GNFS.ZS,NE.TRD.GNFS.ZS,NV.IND.TOTL.ZS,NY.GDP.PCAP.PP.CD
0,2016,CHN,China,East Asia & Pacific,Upper middle income,IBRD,19.584380,36.894415,39.580622,13483.377267
1,2016,IND,India,South Asia,Lower middle income,IBRD,19.158235,40.082486,26.619000,5839.864817
2,2016,ITA,Italy,Europe & Central Asia,High income,Not classified,29.327891,55.367603,21.217944,39926.954663
3,2016,USA,United States,North America,High income,Not classified,11.939539,26.586999,18.042221,57866.744934

In [28]:
fig = px.pie(year_2016,
    names="Country Name",
    values="NV.IND.TOTL.ZS",
    title=" Countries by 2016 Industry (including construction), value added (% of GDP)",
    color='Country Name',
    labels={"Year":"Year","NV.IND.TOTL.ZS":"Industry (including construction), value added<br>(% of GDP)"},

    
)
fig.show()

## GDP per capita, PPP (current international $):
- The gross domestic product (GDP) is a metric that measures the economic output of a country. The number of goods and services produced in a country with a higher GDP will be greater.
- The United States has the highest GDP of 68.4%, while India has the lowest GDP of 8 percent, as shown in the chart above. Despite minimal contributions from exports and trade to the United States, science and technology have contributed to the country's higher GDP than other countries.

In [29]:
df_pivot2 = df2.pivot(index =['Year','Country Code','Country Name','Region','Income Group','Lending Type'], columns='indicator', values='value').reset_index()
df_pivot2.head()

indicator,Year,Country Code,Country Name,Region,Income Group,Lending Type,NE.EXP.GNFS.ZS,NE.TRD.GNFS.ZS,NV.IND.TOTL.ZS,NY.GDP.PCAP.PP.CD
0,2016,CHN,China,East Asia & Pacific,Upper middle income,IBRD,19.584380,36.894415,39.580622,13483.377267
1,2016,IND,India,South Asia,Lower middle income,IBRD,19.158235,40.082486,26.619000,5839.864817
2,2016,ITA,Italy,Europe & Central Asia,High income,Not classified,29.327891,55.367603,21.217944,39926.954663
3,2016,USA,United States,North America,High income,Not classified,11.939539,26.586999,18.042221,57866.744934
4,2017,CHN,China,East Asia & Pacific,Upper middle income,IBRD,19.692277,37.632413,39.851698,14243.532611

In [30]:
fig = px.line(df_pivot2,
    x="Year",
    y="NY.GDP.PCAP.PP.CD",
    title=" Countries by 2020 Trade(% of GDP)",
    color='Country Name',
    labels={"Year":"Year","NV.IND.TOTL.ZS":"Industry (including construction), value added<br>(% of GDP)"},
    hover_name='Country Name',
    
)
fig.show()

# Industrialisation vs Exports Of Goods among different Years:

In [32]:
fig = px.scatter(
    df_pivot2,
    x="NV.IND.TOTL.ZS",
    y="	NE.EXP.GNFS.ZS", 
    title="Wealth vs Health", 
    color="Country Name", 
    
) 

fig.update_layout(showlegend=True)
fig.update_layout(
    xaxis_title="Industrialisation",
    yaxis_title="Exports Of Goods",)


fig.show()

ValueError: ignored

### **Conclusion**
- We learned how exports of goods and services, industry, and trade contribute to the economic growth of the respective countries from the above information. We also compared the GDP per capita of four other countries.